*{
    margin: 0;
}
body{
    background-image: url('image/hacker.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
}
.head{
    color: gray;
    cursor: pointer;
    /* width: 100%; */
    margin: 10px;
    text-align: center;
    padding: 15px;
    font-family: Gill Sans Extrabold, sans-serif;
    /* display: inline; */
}
.header-container{
display: flex;
align-items: end;
}
span{
    color: red;
    font-family: serif;
}
.container{
    display: flex;
}
.content{
    color: white;
    border: 2px solid #566573;
    border-radius: 20px ;
    height: 250px;
    width: 250px;
    text-align: center;
    margin: 100px;   
    box-shadow: 10px 10px 20px gray;

}
.content h3{
    color: red;
    margin: 5px;
    padding: 5px;
}
.content p{
    margin: 5px;
    padding: 5px;
}
footer{
    color: red;
}
